Job_Portal_Transformation/ADF-assessment-main/ADF-assessment-main/pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"path": "$['name']"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"path": "$['username']"
								},
								"sink": {
									"name": "username"
								}
							},
							{
								"source": {
									"path": "$['email']"
								},
								"sink": {
									"name": "email"
								}
							},
							{
								"source": {
									"path": "$['phone']"
								},
								"sink": {
									"name": "phone"
								}
							},
							{
								"source": {
									"path": "$['website']"
								},
								"sink": {
									"name": "website"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Customerdatasource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable3",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@activity('Copy data1').output",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"value": "@activity('Copy data1').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-06T12:56:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}